<template>
    <div class="historico">
        <div id='titleHist'>
            <p>{{ paciente.pac_nome }}</p>
        </div>
        <div class="table-div">
            <div class="pacientes-div">
                <table>
                    <thead>
                        <td width="10%">Código</td>
                        <td width="15%">DATA</td>
                        <td width="15%">ASG-PPP</td>
                        <td width="45%">AVALIAÇÃO GLOBAL</td>
                        <td>RELATÓRIO</td>
                    </thead>
                    <tbody v-if="dadosHistoricoReady">
                        <tr class="paciente-list" v-for="value in listaRelatorios" :key="value.id">
                            <td>#{{ value.id }}</td>
                            <td>{{ value.data }}</td>
                            <td>{{ value.asg }}</td>
                            <td>{{ value.ava_global }}</td>
                            <td class="history"><i @click="relatorio(value)" class="fas fa-file-alt"></i></td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
        <buttonRectangle info="VOLTAR" @click.native="telaPaciente()" id="back-historico"></buttonRectangle>
    </div>
</template>

<script>
import buttonRectangle from '../components/buttonRectangle'
import axios from 'axios'

export default {
    name: 'Historico',
    components:{
        buttonRectangle
    },
    data(){
        return {
            dadosHistoricoReady: false,
            resAvaliacao: [],
            resVersaoMedico: [],
            resVersaoPaciente: [],
            avaliacoes: [],
            versaoMedico: [],
            versaoPaciente: [],
            listaRelatorios: []
        }
    },
    methods: {
        carregaAvaliacoes(){
            axios.get('http://localhost:3000/avaliacao')
                .then(res => {
                    this.resAvaliacao = res.data
                    let vetorAuxiliar = []

                    for(let i = this.resAvaliacao.length; i > 0; i--){
                        if(this.resAvaliacao[i - 1].ava_fk_pac == this.$store.state.paciente.pac_id){
                            vetorAuxiliar.push(this.resAvaliacao[i - 1])
                        }
                    }
                    this.avaliacoes = vetorAuxiliar

                    axios.get('http://localhost:3000/vmedico')
                        .then(res => {
                            this.resVersaoMedico = res.data

                            for(let i = this.resVersaoMedico.length; i > 0; i--){
                                for(let j = 0; j < this.avaliacoes.length; j++){
                                    if(this.resVersaoMedico[i - 1].vmed_fk_ava == this.avaliacoes[j].ava_id){
                                        this.versaoMedico.push(this.resVersaoMedico[i - 1])
                                        continue
                                    }
                                }
                            }
                        })
                        .then(() => {
                            axios.get('http://localhost:3000/vpaciente')
                                .then(res => {
                                    this.resVersaoPaciente = res.data

                                    for(let i = this.resVersaoPaciente.length; i > 0; i--){
                                        for(let j = 0; j < this.avaliacoes.length; j++){
                                            if(this.resVersaoPaciente[i - 1].vpac_fk_ava == this.avaliacoes[j].ava_id){
                                                this.versaoPaciente.push(this.resVersaoPaciente[i - 1])
                                                continue
                                            }
                                        }
                                    }
                                })
                                .then(() => {
                                    this.dadosHistoricoReady = true
                                })
                                .catch(err => {alert(err)})
                        })
                        .catch(err => {alert(err)})
                })
                .catch(err => {alert(err)})
        },
        organizaLista(){
            for(let i = 0; i < this.avaliacoes.length; i++){
                let objetoAuxiliar = {}

                objetoAuxiliar.id = this.avaliacoes[i].ava_id
                objetoAuxiliar.id_vmed = this.versaoMedico[i].vmed_id
                objetoAuxiliar.id_vpac = this.versaoPaciente[i].vpac_id
                objetoAuxiliar.data = this.avaliacoes[i].ava_dat_med
                objetoAuxiliar.asg = this.versaoMedico[i].vmed_pt_tot
                switch (this.versaoMedico[i].vmed_ava_glo) {
                    case '0': 
                        objetoAuxiliar.ava_global = 'CATEGORIA A'
                        break
                    case '1': 
                        objetoAuxiliar.ava_global = 'CATEGORIA A'
                        break
                    case '2': 
                        objetoAuxiliar.ava_global = 'CATEGORIA B'
                        break
                    case '3': 
                        objetoAuxiliar.ava_global = 'CATEGORIA C'
                        break
                    default:
                        objetoAuxiliar.ava_global = ''
                }
                objetoAuxiliar.data = objetoAuxiliar.data.split('T')[0]
                objetoAuxiliar.data = this.formatData(objetoAuxiliar.data)
                this.listaRelatorios.push(objetoAuxiliar)   
            }
        },
        formatData(data){
            data = data.split('-')
            data = data[2] + '/' + data[1] + '/' + data[0]

            return data
        },
        telaPaciente(){
            this.$router.push('telaPaciente')
        },
        relatorio(obj){
            axios.get(`http://localhost:3000/avaliacao/${obj.id}`)
                .then(res => {
                    this.$store.state.avaliacao = res.data[0]
                    this.$store.state.avaliacao.ava_dat_med = this.$store.state.avaliacao.ava_dat_med.split('T')[0]
                    this.$store.state.avaliacao.ava_dat_med = this.formatData(this.$store.state.avaliacao.ava_dat_med)
                    axios.get(`http://localhost:3000/vmedico/${obj.id_vmed}`)
                        .then(res => {
                            this.$store.state.versaoMedico = res.data[0]

                            axios.get(`http://localhost:3000/vpaciente/${obj.id_vpac}`)
                                .then(res => {
                                    this.$store.state.versaoPaciente = res.data[0]
                                    this.$router.push('relatorio')
                                })
                                .catch(err => {alert(err)})  
                        })
                        .catch(err => {alert(err)})
                })
                .catch(err => {alert(err)})
        }
    },
    computed: {
        paciente(){
            return this.$store.state.paciente
        }
    },
    mounted() {
        this.carregaAvaliacoes()
    },
    watch: {
        dadosHistoricoReady: function(){
            if(this.dadosHistoricoReady){
                this.organizaLista()
            }
        }
    }
}
</script>

<style>
.historico{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.historico i{
    cursor: pointer;
}

#titleHist{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#back-historico{
    margin-top: 50px;
    margin-right: 10px;
    display: flex;
    background-color: #fc7753;
}

@media screen and (max-width: 600px){
    .pacientes-div{
        width: 100vw;
    }
}
</style>