<template>
  <div class="pesquisa-paciente">
    <div class="search-div">
      <input type="text" v-model="nomePesq" placeholder="NOME DO PACIENTE" />
      <Button
        id="btn-search"
        @click.native="pesquisaPaciente()"
        icon="fas fa-search"
        styl="color: white;font-size:25px;"
      ></Button>
    </div>
    <div class="table-div">
      <div class="pacientes-div">
        <table>
          <thead>
            <td width="10%">Código</td>
            <td width="45%">Nome do paciente</td>
            <td width="15%">CPF</td>
            <td width="15%">Última consulta</td>
            <td>Histórico</td>
          </thead>
          <tbody v-if="ready">
            <tr class="paciente-list" v-for="value in listaPacientes" :key="value.paciente_id">
              <td>#{{ value.paciente_id }}</td>
              <td>{{ value.paciente_nome }}</td>
              <td>{{ value.paciente_cpf }}</td>
              <td>{{ value.data }}</td>
              <td class="history">
                <i @click="openPaciente(value)" class="fas fa-folder-open"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <buttonRectangle info="VOLTAR" @click.native="home()" id="backSearch"></buttonRectangle>
    <div v-if="!ready" id="overlay">
      <img id="overlay-gif" src="..\resources\giphy.gif" alt />
    </div>
  </div>
</template>

<script>
import Button from "../components/Button";
import axios from "axios";
import buttonRectangle from "../components/buttonRectangle";

export default {
  name: "PesquisaPaciente",
  components: {
    Button,
    buttonRectangle
  },
  data() {
    return {
      registroPaciente: [],
      pacientePassagem: [],
      avaliacaoPassagem: [],
      listaPacientes: [],
      ready: false,
      nomePesq: ""
    };
  },
  methods: {
    async organizeData() {
      this.getEvaluationsData();
    },
    async getEvaluationsData() {
      const evaluations = await axios.get(
        "http://localhost:5000/dados_avaliacao"
      );

      this.listaPacientes = evaluations.data;
      this.ready = true;
    },
    home() {
      this.$router.push("/");
    },
    async openPaciente(value) {
      try {
        const paciente = await axios.get(
          `http://localhost:5000/paciente/${value.paciente_id}`
        );

        this.$store.state.paciente = paciente.data;
        this.registroPaciente = [];
        this.pacientePassagem = [];
        this.avaliacaoPassagem = [];
        this.$router.push("tela_paciente");
      } catch (err) {
        alert(err);
      }
    },
    pesquisaPaciente() {
      this.$store.state.listaPacientes = this.registroPaciente;
      let nomeAux = this.nomePesq;
      const arrayNome = nomeAux.split(" ");
      for (let i = 0; i < arrayNome.length; i++) {
        if (arrayNome[i].length > 3) {
          arrayNome[i] =
            arrayNome[i].charAt(0).toUpperCase() + arrayNome[i].slice(1);
        }
      }

      nomeAux = arrayNome[0];

      for (let i = 1; i < arrayNome.length; i++) {
        nomeAux += " " + arrayNome[i];
      }

      const listaFilter = this.$store.state.listaPacientes.filter(value => {
        return value.nome.includes(nomeAux);
      });

      this.$store.state.listaPacientes = listaFilter;
    }
  },
  mounted() {
    this.getEvaluationsData();
  },
  computed: {
    /* listaPacientes() {
      return this.$store.state.listaPacientes;
    } */
  }
};
</script>

<style>
#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  z-index: 3;
}

#overlay-gif {
  width: 50px;
  height: 50px;
}

.pesquisa-paciente {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pesquisa-paciente i {
  cursor: pointer;
}

.search-div {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-div input[type="text"] {
  color: #999;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  width: 250px;
  font-size: 25px;
}

::placeholder {
  color: #ccc;
}

#btn-search {
  width: 45px;
  height: 45px;
  background-color: #fabc3c;
}

.table-div {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.pacientes-div {
  overflow: hidden;
  overflow-y: scroll;
  background-color: #ccc7;
  width: 55vw;
  height: 55vh;
  border: 1px solid #fabc3c;
}

.pacientes-div table {
  width: 100%;
}

.pacientes-div thead td {
  background-color: #fff;
  font-size: 20px;
  padding-left: 8px;
}

.paciente-list {
  height: 40px;
  background: linear-gradient(to bottom, #fff, #ccc);
  font-size: 20px;
}

.paciente-list td {
  padding-left: 8px;
  color: #777;
}

.history {
  text-align: center;
}

#backSearch {
  margin-top: 50px;
  margin-right: 10px;
  display: flex;
  background-color: #fc7753;
}

@media screen and (max-width: 600px) {
  .pacientes-div {
    width: 100vw;
  }
}
</style>