<template>
  <div class="QMedico10">
    <div id="titleMed10">{{$store.state.paciente.pac_nome}} - Avaliação Médica</div>
    <form action class="form-qmedico10">
      <div class="physical-exam2-div">
        <p id="physical-exam2">EXAME FÍSICO</p>
        <div class="weight-select-div">
          <label for="weight-select">Peso</label>
          <select
            name="weight-select-lis"
            autofocus="autofocus"
            v-model="avaliacaoGlobal.avag_pes"
            id="weight-select"
          >
            <option value="1">A - Sem perda de peso OU ganho de peso recente (não hídrico)</option>
            <option
              value="2"
            >B - &le;5% perda de peso em 1 mês(ou &le;10% em 6 meses) OU perda de peso progressiva</option>
            <option
              value="3"
            >C >5% perda de peso em 1 mês (ou 10% em 6 meses) OU perda de peso progressiva</option>
          </select>
        </div>
        <div class="ingestion-select-div">
          <label for="ingestion-select">Ingestão de Nutrientes</label>
          <select
            name="ingestion-select-lis"
            v-model="avaliacaoGlobal.avag_nut"
            id="ingestion-select"
          >
            <option value="1">A - Sem déficit OU melhora significativa recente</option>
            <option value="2">B - Diminuição evidente da ingestão</option>
            <option value="3">C - Grave déficit na ingestão</option>
          </select>
        </div>
        <div class="nutritional-div">
          <label for="nutritional-select">Sintomas com Impacto Nutricional</label>
          <select
            name="nutritional-select-lis"
            v-model="avaliacaoGlobal.avag_imp_nut"
            id="nutritional-select"
          >
            <option
              value="1"
            >A - Nenhum OU melhora significativa recente permitindo ingestão adequada</option>
            <option value="2">B - Presença de sintomas de impacto nutricional (caixa 3)</option>
            <option value="3">C - Presença de sintomas de impacto nutricional (caixa 3)</option>
          </select>
        </div>
        <div class="functionality-select-div">
          <label for="functionality-select">Funcionalidade</label>
          <select
            name="functionality-select-lis"
            v-model="avaliacaoGlobal.avag_fun"
            id="functionality-select"
          >
            <option value="1">A - Sem déficit OU melhora significativa recente</option>
            <option value="2">B - Déficit funcional moderado OU piora recente</option>
            <option value="3">C - Grave déficit funcional OU piora recente</option>
          </select>
        </div>
        <div class="physical-exam-select-div">
          <label for="physical-exam-select">Exame Físico</label>
          <select
            name="physical-exam-select-lis"
            v-model="avaliacaoGlobal.avag_exa_fis"
            id="physical-exam-select"
          >
            <option
              value="1"
            >A - Sem déficit OU Deficiência crônica, mas com melhora clínica recente</option>
            <option
              value="2"
            >B - Evidência de perda leve a moderada de massa muscular e/ou tônus muscular à palpação e/ou perda de gordura subcutânea</option>
            <option
              value="3"
            >C - Sinais óbvios de desnutrição (ex. perda intensa de massa muscular, gordura e possível edema</option>
          </select>
        </div>
        <div class="global-assessment-div">
          <label for="global-assessment-select">Avaliação Global</label>
          <select
            name=" global-assessment-select-lis"
            @change="addPontuacaoQMed5()"
            v-model="globalAssessmentSelect"
            id="global-assessment-select"
          >
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
          </select>
        </div>
      </div>
    </form>
    <div class="pontuacao-container pontuacao5-espaco">
      <p>Pontuação total: {{ pontuacaoLocal + this.$store.state.pontuacaoTotal }}</p>
    </div>
    <div class="controlQMed10">
      <buttonRectangle info="VOLTAR" @click.native="qmedico9()" id="backMed10"></buttonRectangle>
      <buttonRectangle info="AVANÇAR" @click.native="home()" id="nextMed10"></buttonRectangle>
    </div>
    <Button
      @click.native="openModal()"
      icon="fas fa-paste"
      id="btn-open-modal"
      styl="color: white; font-size: 40px;"
    />
    <ModalPaciente v-if="this.$store.state.flagModal" />
  </div>
</template>

<script>
import buttonRectangle from "../components/buttonRectangle";
import axios from "axios";
import { baseApiUrl } from "../global";
import ModalPaciente from "../components/ModalPaciente";
import Button from "../components/Button";

export default {
  name: "QMedico10",
  components: {
    buttonRectangle,
    ModalPaciente,
    Button
  },
  data() {
    return {
      avaliacaoGlobal: {},
      globalAssessmentSelect: this.$store.state.versaoMedico.vmed_quad5,
      ready: false,
      flagFinish: false,
      pontuacaoLocal: 0,
      contadorSintomas: {
        grauUm: 0,
        grauElevado: 0
      }
    };
  },
  methods: {
    home() {
      this.$router.push("/relatorio");
    },
    qmedico9() {
      this.$router.push("qmedico9");
    },
    addPontuacaoQMed5() {
      this.pontuacaoLocal = Number(this.globalAssessmentSelect);
    },
    setPeso() {
      if (this.$store.state.flagPeso) {
        let pesoAux =
          ((this.$store.state.versaoPaciente.vpac_q1_pes_smst -
            this.$store.state.versaoPaciente.vpac_q1_pes_atu) /
            this.$store.state.versaoPaciente.vpac_q1_pes_atu) *
          100;
        if (pesoAux <= 0) {
          this.avaliacaoGlobal.avag_pes = "1";
        } else if (pesoAux <= 10) {
          this.avaliacaoGlobal.avag_pes = "2";
        } else {
          this.avaliacaoGlobal.avag_pes = "3";
        }
      } else {
        let pesoAux =
          ((this.$store.state.versaoPaciente.vpac_q1_pes_smst -
            this.$store.state.versaoPaciente.vpac_q1_pes_atu) /
            this.$store.state.versaoPaciente.vpac_q1_pes_atu) *
          100;
        if (pesoAux <= 0) {
          this.avaliacaoGlobal.avag_pes = "1";
        } else if (pesoAux <= 5) {
          this.avaliacaoGlobal.avag_pes = "2";
        } else {
          this.avaliacaoGlobal.avag_pes = "3";
        }
      }
      this.$forceUpdate();
    },
    setNutrientes() {
      if (this.$store.state.versaoPaciente.vpac_q2_qtd == "0") {
        this.avaliacaoGlobal.avag_nut = "1";
      } else {
        if (
          this.$store.state.versaoPaciente.vpac_q2_tip == "1" ||
          this.$store.state.versaoPaciente.vpac_q2_tip == "2"
        ) {
          this.avaliacaoGlobal.avag_nut = "2";
        } else {
          this.avaliacaoGlobal.avag_nut = "3";
        }
      }
      this.$forceUpdate();
    },
    setImpNutri() {
      axios
        .get(
          `${baseApiUrl}/sinvpac/${this.$store.state.versaoPaciente.vpac_id}`
        )
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i].sin_value == "1") {
              this.contadorSintomas.grauUm += 1;
            } else if (
              res.data[i].sin_value == "2" ||
              res.data[i].sin_value == "3"
            ) {
              this.contadorSintomas.grauElevado += 1;
            }
          }

          if (this.contadorSintomas.grauElevado > 0) {
            this.avaliacaoGlobal.avag_imp_nut = "3";
          } else if (this.contadorSintomas.grauUm > 0) {
            this.avaliacaoGlobal.avag_imp_nut = "2";
          } else {
            this.avaliacaoGlobal.avag_imp_nut = "1";
          }

          this.$forceUpdate();
        })
        .catch(err => {
          alert(err);
        });
    },
    setFuncionalidade() {
      if (
        this.$store.state.versaoPaciente.vpac_quad4 == "0" ||
        this.$store.state.versaoPaciente.vpac_quad4 == "1"
      ) {
        this.avaliacaoGlobal.avag_fun = "1";
      } else if (
        this.$store.state.versaoPaciente.vpac_quad4 == "2" ||
        this.$store.state.versaoPaciente.vpac_quad4 == "3"
      ) {
        this.avaliacaoGlobal.avag_fun = "2";
      } else {
        this.avaliacaoGlobal.avag_fun = "3";
      }
      this.$forceUpdate();
    },
    setExame() {
      if (
        this.$store.state.exameFisico[7] == "0" &&
        this.$store.state.exameFisico[11] == "0"
      ) {
        this.avaliacaoGlobal.avag_exa_fis = "1";
      } else if (
        this.$store.state.exameFisico[7] == "3" ||
        this.$store.state.exameFisico[11] == "3"
      ) {
        this.avaliacaoGlobal.avag_exa_fis = "3";
      } else if (
        this.$store.state.exameFisico[7] == "1" ||
        this.$store.state.exameFisico[7] == "2" ||
        this.$store.state.exameFisico[11] == "1" ||
        this.$store.state.exameFisico[11] == "2"
      ) {
        this.avaliacaoGlobal.avag_exa_fis = "2";
      }
      this.$forceUpdate();
    },
    openModal() {
      this.$store.state.flagModal = true;
    },
    setDoctorsEvaluationData() {
      this.$store.state.versaoMedico.vmed_quad5 = this.globalAssessmentSelect;
      this.$store.state.versaoMedico.vmed_pt_tot =
        Number(this.$store.state.versaoMedico.vmed_quad1) +
        Number(this.$store.state.versaoMedico.vmed_quad2) +
        Number(this.$store.state.versaoMedico.vmed_quad3) +
        Number(this.$store.state.versaoMedico.vmed_quad4);
      this.$store.state.versaoMedico.vmed_ava_glo = this.globalAssessmentSelect;
      this.$store.state.versaoMedico.vmed_fk_ava = this.$store.state.avaliacao.ava_id;
    },
    postDoctorsEvaluation() {
      return axios
        .post(
          "http://localhost:5000/versao_medico",
          this.$store.state.versaoMedico
        )
        .then(res => res.data)
        .catch(err => {
          alert(err);
        });
    },
    getDoctorsEvaluationId(idDoctorsEvaluation) {
      this.$store.state.versaoMedico.vmed_id = idDoctorsEvaluation;
    },
    getClinicalConditions() {
      this.avaliacaoGlobal.avag_fk_vmed = this.$store.state.versaoMedico.vmed_id;
      return axios
        .get("http://localhost:3000/condicaoclinica")
        .then(res => res.data)
        .catch(err => {
          alert(err);
        });
    },
    setClinicalConditions(clinicalConditions) {
      const activeClinicalConditions = clinicalConditions.filter(condition => {
        return this.$store.state.condicoes.includes(condition.ccli_nome);
      });

      const registers = activeClinicalConditions.map(condition => {
        const reg = {};
        reg.cclivmed_fk_ccli = condition.ccli_id;
        reg.cclivmed_fk_vmed = this.$store.state.versaoMedico.vmed_id;
        return reg;
      });

      axios.post("http://localhost:3000/cclivmed", registers).then(res => {
        alert(res.data);
      });
    },
    setPhysicalEvaluation() {
      for (let i = 0; i < 16; i++) {
        let registro = {};
        registro.efisvmed_fk_vmed = this.$store.state.versaoMedico.vmed_id;
        registro.efisvmed_fk_efis = i + 1;
        registro.efisvmed_val = this.$store.state.exameFisico[i];
        axios.post("http://localhost:3000/EfisVmed", registro).catch(err => {
          alert(err);
        });
      }
    },
    setGlobalEvaluation() {
      this.avaliacaoGlobal.avag_fk_vmed = this.$store.state.versaoMedico.vmed_id;
      axios
        .post("http://localhost:3000/avaliacaoglobal", this.avaliacaoGlobal)
        .catch(err => {
          alert(err);
        });
    },
    Redirect() {
      if (this.$store.state.versaoMedico.vmed_pt_tot < 2) {
        this.$router.push("/relatorio");
      } else {
        this.$router.push("/qmedico11");
      }
    }
  },
  computed: {
    versaoMedico() {
      return this.$store.state.versaoMedico;
    }
  },
  mounted() {
    this.setPeso();
    this.setNutrientes();
    this.setImpNutri();
    this.setFuncionalidade();
    this.setExame();
  }
};
</script>

<style>
.QMedico10 {
  color: #777;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 30px;
  width: 100vw;
  height: 100vh;
}

.controlQMed10 {
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.physical-exam2-div {
  width: 50vw;
}

.physical-exam2-div div {
  display: flex;
  justify-content: space-between;
}

.physical-exam2-div div {
  margin: 3em 0 0 0;
}

.form-qmedico10 {
  display: flex;
  position: relative;
  top: 30px;
  height: auto;
  width: 80vw;
  left: 50px;
}

.form-qmedico10 p {
  font-size: 35px;
}

.form-qmedico10 label {
  width: 20vw;
  font-size: 30px;
}

.form-qmedico10 select {
  color: #777;
  width: 30vw;
  border-color: #fff;
  border-bottom: 1px solid #292b2e;
  font-size: 30px;
  outline: none;
  position: relative;
  left: 10px;
  text-align: center;
}

.pontuacao5-espaco {
  margin-top: 80px;
}

#nextMed10 {
  margin-left: 10px;
  display: flex;
  background-color: #56e049;
}

#backMed10 {
  margin-right: 10px;
  display: flex;
  background-color: #fc7753;
}

#titleMed10 {
  text-decoration: underline;
  font-size: 40px;
  position: relative;
  width: 90vw;
  left: 50px;
}

@media screen and (max-width: 768px) {
  .form-qmedico10 {
    height: auto;
    width: 80vw;
  }

  .form-qmedico10 label {
    width: 40vw;
  }

  .form-qmedico10 select {
    width: 40vw;
  }

  .physical-exam2-div {
    width: 80vw;
  }
}

@media screen and (max-width: 678px) {
  #titleMed10 {
    font-size: 35px;
    left: 20px;
    width: 80vw;
  }

  .form-qmedico10 {
    margin-top: 20px;
  }

  .form-qmedico10 {
    height: auto;
    width: 80vw;
    left: 20px;
  }

  .form-qmedico10 p {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .form-qmedico10 label {
    font-size: 25px;
  }

  .form-qmedico10 select {
    width: 50vw;
  }

  .physical-exam2-div {
    width: 80vw;
  }

  .controlQMed10 {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  #nextMed10 {
    margin-left: 0;
    margin-top: 20px;
    width: 250px;
    height: 50px;
  }

  #backMed10 {
    margin-right: 0;
    margin-top: 20px;
    width: 250px;
    height: 50px;
  }
}
</style>