<template>
  <div class="modal">
    <form action>
      <h1>{{ msg }}</h1>
      <input type="text" v-model="pac_nome" maxlength="30" id="nome" placeholder="Nome Completo" />
      <br />
      <div class="dataNasc-div">
        <label for="dataNascimento">Data de nascimento:</label>
        <input type="date" v-model="pac_dt_nasc" id="dataNascimento" />
      </div>
      <div class="cpf-div">
        <the-mask type="text" mask="###.###.###-##" v-model="pac_cpf" id="cpf" placeholder="CPF"></the-mask>
      </div>
      <div class="btn-container">
        <Button
          icon="fas fa-plus"
          @click.native="setPaciente()"
          styl="color: white; font-size: 40px;"
          id="btn-add"
        ></Button>
        <Button
          icon="fas fa-times"
          @click.native="closeModal()"
          styl="color: white; font-size: 40px;"
          id="btn-close"
        ></Button>
      </div>
    </form>
  </div>
</template>

<script>
import Button from "./Button";
import axios from "axios";
import { TheMask } from "vue-the-mask";

export default {
  name: "Modal",
  props: {
    msg: String
  },
  components: {
    Button,
    TheMask
  },
  data() {
    return {
      pac_nome: "",
      pac_dt_nasc: "",
      pac_cpf: ""
    };
  },
  methods: {
    closeModal() {
      if (this.$store.state.visibleModal) {
        document.getElementById("modal").style.removeProperty("animation");
        document
          .getElementById("modal")
          .style.setProperty("animation", "modal-out .5s");
        document
          .getElementById("modal")
          .style.setProperty("animation-fill-mode", "forwards");
        this.$store.state.visibleModal = false;
      }
    },
    setPaciente() {
      if (this.pac_nome != "" && this.pac_dt_nasc != "" && this.pac_cpf != "") {
        let aux = this.pac_cpf.split("");
        this.pac_cpf = "";

        for (let i = 0; i < aux.length; i++) {
          if ((i + 1) % 3 == 0 && i + 1 != 9) {
            this.pac_cpf += aux[i];
            this.pac_cpf += ".";
          } else if (i + 1 == 9) {
            this.pac_cpf += aux[i];
            this.pac_cpf += "-";
          } else {
            this.pac_cpf += aux[i];
          }
        }

        this.$store.state.paciente.paciente_nome = this.pac_nome;
        this.$store.state.paciente.paciente_dataNascimento = this.pac_dt_nasc;
        this.$store.state.paciente.paciente_cpf = this.pac_cpf;

        axios
          .post("http://localhost:5000/paciente", this.$store.state.paciente)
          .then(res => {
            let aux = res.data;
            aux = aux.split(": ");
            this.$store.state.paciente.paciente_id = aux[1];
          })
          .catch(err => alert(err));
        setTimeout(() => {
          this.$store.state.visibleModal = false;
          this.$router.push("telaPaciente");
        }, 600);
      } else {
        alert("Favor inserir os dados!");
      }
    }
  },
  computed: {
    visibleModal() {
      return this.$store.state.visibleModal;
    },
    paciente() {
      return this.$store.state.paciente;
    }
  }
};
</script>

<style>
.btn-container {
  height: 100px;
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
}

#dataNascimento {
  margin-top: 0;
  color: #777;
}

.dataNasc-div {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.dataNasc-div label {
  margin-top: 10px;
  color: #777;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: #fefefe;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 40vw;
  height: auto;
  position: absolute;
  left: 30vw;
  bottom: 30vh;
  padding: 20px;
  padding-bottom: 30px;
  z-index: 4;
}

.modal input {
  color: #777;
  font-size: 25px;
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid #292b2e;
  width: 300px;
  outline: none;
}

#btn-add,
#btn-close {
  width: 60px;
  height: 60px;
}

#btn-close {
  background-color: #fc7753;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .modal {
    left: 20vw;
    width: 60vw;
  }

  .modal input {
    background-color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    left: 10vw;
    bottom: 0;
    width: 80vw;
  }

  .modal input {
    width: 100%;
    background-color: #fff;
  }
}

@keyframes modal-in {
  from {
    bottom: 30vh;
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    bottom: 35vh;
    opacity: 1;
  }
}

@keyframes modal-out {
  from {
    visibility: visible;
    bottom: 35vh;
    opacity: 1;
  }
  to {
    bottom: 30vh;
    visibility: hidden;
    opacity: 0;
  }
}
</style>