<template>
    <div class="topnav">
        <div class="logo" @click="limparCache()">DoN - Data on Nutrition</div>
        <div style="cursor: pointer" @click="toggleNav()" v-if="isMenuVisible"><i id="icon-navbar" class="fas fa-bars"></i></div>
    </div>
</template>

<script>


export default {
  name: 'navBar',
  data: function(){
    return{
      isVisible: false
    }
  },
  components: {
  },
  methods: {
    toggleNav() {
      if(this.isVisible == false){
        document.getElementById("mySidenav").style.removeProperty("animation")
        document.getElementById("mySidenav").style.setProperty("animation", "menu-easein .5s")
        document.getElementById("mySidenav").style.setProperty("animation-fill-mode", "forwards")
        this.isVisible = true
        this.$store.state.menuToggle = true
      }
      else{
        document.getElementById("mySidenav").style.removeProperty("animation")
        document.getElementById("mySidenav").style.setProperty("animation", "menu-easeout .5s")
        document.getElementById("mySidenav").style.setProperty("animation-fill-mode", "forwards")
        this.isVisible = false
        this.$store.state.menuToggle = false
      }
    },
    limparCache(){
      this.$store.state.paciente = {}
      this.$store.state.listaPacientes = []
      this.$store.state.versaoPaciente = {}
      this.$store.state.exameFisico = []
      this.$store.state.avaliacaoGlobalAtual = []
      this.$store.state.idAvaliacao = ''
      this.$store.state.isMenuVisible = true
      this.$store.state.sintomas = []
      this.$store.state.condicoes = []
      this.$store.state.valueQuest1 = ''
      this.$store.state.valueQuest2 = ''
      this.$store.state.valueQuest3 = ''
      this.$store.state.valueQuest4 = ''
      this.$store.state.valueQuest5 = ''
      this.$store.state.otherFlag = false
      this.$store.state.acheFlag = false
      this.$store.state.feedFlag = false
      this.$store.state.avaliacao = {}
      this.$store.state.antropometria = {}
      this.$store.state.versaoMedico = {}

      this.$router.push('/')
    }
  },
  computed:{
    isMenuVisible(){
      return this.$store.state.isMenuVisible
    }
  }
}
</script>

<style>
/* Add a black background color to the top navigation */
.topnav i#icon-navbar {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}

.nomeApp {
    position: absolute;
}

.topnav {
  justify-content: space-between;
  display: flex;
  background-color: #6cd4ff;
  height: 80px;
  overflow: hidden;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.topnav .logo {
  cursor: pointer;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}


</style>